body {
    font-family: Arial, sans-serif;
    background-color: azure;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(32, 3, 3);
    width: 80%;
    margin: 0 auto;

}

.right-section {
    width: 35%;
    padding: 50px;
    background-color: rgb(144, 21, 21);
    color: rgb(254, 225, 225);
    text-align: center;
    border-right: 5px solid rgba(225, 113, 22, 0.749);
}

.profile-picture {
    height: 150px;
    width: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid rgb(24, 151, 205);
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10;
    color: black;
    box-shadow: 0 0 15px red;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 6px;
}

ul li {
    margin: 5px 0;
}

.left-section {
    width: 65%;
    padding: 20%;
    background-color: rgb(226, 241, 238);
}

button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 16px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(204, 147, 60);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

ul {
    list-style-type: fill round;
    margin: 10px 0;
    padding: 10;
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .profile-picture {
        height: 100px;
        width: 100px;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    button {
        font-size: 16px;
        padding: 8px;
    }

    .resume-container {
        box-shadow: none; 
    }
}
